<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Blog Post'})">
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container">
    <h1 class="text-center">Post</h1>
    <div class="blogPosts" th:each="post : ${post}">
        <h3>Title: </h3><span th:text="${post.title}">Test</span> <br/>
        <h3>Body: </h3><span th:text="${post.body}">test body</span>
    </div>
<!--needs a delete and edit button and function-->
    <form th:action="@{'/posts/' + ${id} + '/edit'}" method="get">
        <button name="edit">Edit</button>
    </form>
    <form th:action="@{'/posts/' + ${id} + '/delete'}" method="post">
        <button name="delete">Delete</button>
    </form>
</div>
</body>
</html>