<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice Rolling is so much fun</title>
</head>
<body>
<h1>This is a dice rolling page</h1>
<div>
    Feel free to click one of these numbers. Try to guess what the die rolled!
</div>
<div>
    <form method="get">
        <a type="submit" name="one" href="/roll-dice/1">1</a>
        <a type="submit" name="two" href="/roll-dice/2">2</a>
        <a type="submit" name="three" href="/roll-dice/3">3</a>
        <a type="submit" name="four" href="/roll-dice/4">4</a>
        <a type="submit" name="five" href="/roll-dice/5">5</a>
        <a type="submit" name="six" href="/roll-dice/6">6</a>
    </form>
</div>
</body>
</html>